<header class="flex justify-between items-center py-6 mx-auto sm:py-8 border-b border-neutral-100 px-5" data-controller="menu">
  <div class="flex w-full items-center justify-between max-w-screen-lg mx-auto">
    <%= link_to root_path, class: "text-xl font-black flex gap-3" do %>
      <svg class="w-16" viewBox="0 0 64 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0H8.5L14.5 12L20.5 0H29L17.5 20H11.5L0 0Z" fill="currentColor"/>
        <path d="M26 0H55V6H26V0Z" fill="currentColor"/>
        <path d="M26 14H55V20H26V14Z" fill="currentColor"/>
        <path d="M56 0H64V20H56V0Z" fill="currentColor"/>
      </svg>
    <% end %>

    <!-- 汉堡菜单图标，小屏幕时显示 -->
    <button data-action="click->menu#toggle" class="lg:hidden w-10 h-10 flex items-center justify-center">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>

    <!-- 原有导航，大屏幕时显示 -->
    <nav class="hidden lg:flex gap-12 flex-shrink-0">
      <%= link_to "文章", blogs_path, class: "font-semibold text-neutral-500 hover:text-neutral-800 transition" %>
      <%= link_to "资源", resource_path, class: "font-semibold text-neutral-500 hover:text-neutral-800 transition" %>
      <%= link_to "工作项目", projects_path, class: "font-semibold text-neutral-500 hover:text-neutral-800 transition" %>
    </nav>
  </div>

  <!-- 全屏菜单容器，初始隐藏 -->
  <div data-menu-target="fullscreen" class="fixed h-screen inset-0 bg-white opacity-0 invisible flex flex-col items-center justify-center space-y-12 lg:hidden z-20 transition-opacity duration-300">
    <%= link_to "文章", blogs_path, class: "font-semibold text-neutral-900 text-4xl" %>
    <%= link_to "资源", resource_path, class: "font-semibold text-neutral-900 text-4xl" %>
    <%= link_to "工作项目", projects_path, class: "font-semibold text-neutral-900 text-4xl" %>
  </div>
</header>
