<% content_for :title, @project.title %>

<section class="max-w-screen-lg mx-auto w-full px-5 py-12">
  <div class="flex mx-auto gap-20">
    <div class="w-full sm:mb-20 mb-10">
      <div class="mt-12">
        <h1 class="text-4xl font-semibold mb-3 text-neutral-800 leading-snug">
          <%= @project.title %>
        </h1>
        <time class="block text-gray-400 mb-3" datetime="<%= @project.published_at&.iso8601 %>">
          <%= @project.formatted_date %>
        </time>
        <% if @project.image_url.present? %>
          <%= image_tag @project.image_url, class: "rounded-xl flex-none w-full", alt: @project.title %>
        <% end %>
      </div>
      <div class="prose prose-lg mt-6 max-w-full">
        <%= @project.rendered_content %>
      </div>
    </div>
  </div>
</section>
