<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title><%= content_for(:title) ? "#{content_for(:title)} | 左子祯" : "左子祯 — 设计师和创造者" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="左子祯 — 设计师和创造者">
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="左子祯">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SVF5XKEMWE"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-SVF5XKEMWE');
    </script>
    <script src="https://app.lemonsqueezy.com/js/lemon.js" defer></script>
  </head>

  <body class="antialiased text-neutral-800">
    <%= render "shared/navbar" %>

    <main>
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
